<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/pages/login/style/login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Claiton Pires</title>
</head>
<body>
    <main>
        <a href="#">
            <img id="logo" src="/assets/images/LogomarcaBranca.png" alt="Logo-ccp">
        </a>
        <form onsubmit="handleSubmit(event)">
            <label for="username">Usuário</label>
            <input id="username" type="text">
            <label for="password">Senha</label>
            <input id="password" type="password">
            <button type="submit">LOGIN</button>
        </form>
    </main>
    <script src="/pages/login/scripts/login.js"></script>
</body>
</html>