<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários</title>
    <link rel="stylesheet" href="/pages/login/style/usuarios.css">
</head>
<body>
    <header>
        <a href="/">
            <img id="logo" src="/assets/images/LogomarcaBranca.png" alt="Logo-ccp">
        </a>
        <nav>
            <ul id="desktopNav">
                <li>
                    <div class="usuarioLogado">
                        <p class="nomeLogado"></p>
                        <button id="logout" onclick="logout()"><img src="/assets/images/logout-icon.svg" alt=""></button>
                    </div>
                </li>
                <li>
                    <div class="admin" id="settingsDiv">
                        <img id="settingsIcon" src="/assets/images/settings.png" alt="settingsIcon">
                        <div id="settingsOptions">
                            <div><a href="/usuarios">Usuários</a></div>
                        </div>
                    </div>
                </li>
            </ul>
            <img onclick="openMenuMobile()" id="menuIcon" src="/assets/images/menu.svg" alt="menu-icon">
            <div id="mobileNav">
                <ul id="mobileLista">
                    <div>
                        <li class="admin"><a href="/usuarios">Usuários</a></li>
                    </div>
                    <div class="usuarioLogado">
                        <p class="nomeLogado"></p>
                        <button id="logout" onclick="logout()"><img src="/assets/images/logout-icon.svg" alt=""></button>
                    </div>
                </ul>
            </div>
        </nav>
    </header>
    <main id="usuariosList">
        <section id="pageTitle">
            <h1>Usuários</h1>
        </section>
        <div id="usuarios-list">
            <ul id="administradores">
                <div>
                    <h3>Administradores</h3>
                    <button onclick="openSideFormModal('admin')">adicionar</button>
                </div>
                <!-- Preenchido via JS -->
            </ul>
            <ul id="comuns">
                <div>
                    <h3>Colaboradores</h3>
                    <button onclick="openSideFormModal('comum')">adicionar</button>
                </div>
                <!-- Preenchido via JS -->
            </ul>
        </div>
    </main>
    <section id="sideFormModal">
        <form id="SideForm">
            <div id="inputsSideForm">
                <label for="nomeUsuario">Nome</label>
                <input id="nomeUsuario" type="text">
                <label for="usuario">Usuário</label>
                <input id="usuario" type="text">
                <label for="senha">Senha</label>
                <input id="senha" type="password">
                <label for="confirmarSenha">Confirmar senha</label>
                <input id="confirmarSenha" type="password">
                <div class="checkboxes">
                    <h3>Setores que precisa ter acesso:</h3>
                    <div class="setores">
                        <input id="recepcao" type="checkbox">
                        <label for="recepcao">Recepção</label>
                    </div>
                    <div class="setores">
                        <input id="comercial" type="checkbox">
                        <label for="comercial">Comercial</label>
                    </div>
                </div>
                <div class="checkboxes">
                    <h3>Trabalha em:</h3>
                    <div class="cidades">
                        <input id="salvador" type="checkbox">
                        <label for="salvador">Salvador</label>
                    </div>
                    <div class="cidades">
                        <input id="aracaju" type="checkbox">
                        <label for="aracaju">Aracaju</label>
                    </div>
                </div>
            </div>
            <div id="buttonsSideForm">
                <a onclick="cancelSideFormModal()">Cancelar</a>
                <a id="buttonSubmitForm" onclick="novoUsuario(value)">Enviar</a>
            </div>
        </form>
    </section>
    <script src="/pages/recepcao/scripts/general.js"></script>
    <script src="/pages/login/scripts/usuarios.js"></script>
</body>
</html>